.categoryCardContainer
{ 
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryCard
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.productCardContainer
{
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.productCard
{
    margin: 0.5rem;
}

.productPage{
    justify-content: center;
}

h5>a{
    text-decoration: none;
    color: black;
}

h5>a:hover{
    color: black;
}